<% @page = "home" %>

<div id="featured" class="grid_12">
  <div class="centered">
    <div id="featured_box">
      <% @products.each do |product| %>

        <div id="outer-box" class="product_box" onclick="" style="background-color:<%= product.product_background %>">
          <h2><%= product.title %></h2>
          <!--<a href="<%= product_path(product) %>">-->
            <div id="inner-box">
              <h4 class="designer_name"><%= raw product.designer_name.gsub(" ", "<br>") %></h4>
              <div class="dash">
                -
              </div>
              <h4 class="designer_location"><%= product.designer_location.upcase %></h4>
            </div>
          <!-- </a> -->
        </div>

      <% end %>
    </div>
  </div>
</div>


<div class="border grid_12">
</div>



<div id="blurb" class="grid_12">

  <div class="centered">
    <p>
      Letterspace is simply a celebration of letterform in everyday spaces, founded by designer and educator, Lucy Biggs, senior lecturer at Manchester School of Art.
    </p>

    <p>
      26 designers are currently working to create the inaugural Letterspace alphabet informed by each of their own spaces throughout the UK, America, Canada, Europe and the Middle East. The alphabet will be first presented at The Whitworth on 5th April 2018.
    </p>

    <p>
      The alphabet will form the basis of educational workshops with schools throughout the North West of England with the aim of inspiring the next generation to study art and design at a higher level.
    </p>

    <p>
      Each of the 26 letters will be screen printed as a signed, limited edition of 26 by <a href="http://www.danmatherscreenprint.co.uk" target="_blank">Dan Mather Screenprint</a> in London, with each designer selecting a bespoke ink and paper. This has been made possible by the kind and generous support of <a href="http://www.slater-harrison.co.uk" target="_blank">Slater Harrison</a>.
    </p>

    <p>
      In addition, a full Letterspace alphabet, made up of 26 posters, will be auctioned at The Whitworth, with proceeds gifted to two charities; <a href="http://www.mustardtree.org.uk" target="_blank">Mustard Tree</a> in Manchester and <a href="http://www.printedbyus.org" target="_blank">Printed by Us</a> in Sheffield. Remaining posters will be available to buy at The Whitworth event and online.
    </p>

    <p>
      Letterspace has also been kindly supported by <a href="http://www.blushpublishing.co.uk/" target="_blank">Blush</a> who are involved with the Whitworth event and <a href="http://www.daltonmaag.com" target="_blank">Dalton Maag</a> who have gifted the use of their typeface, Effra, which is present throughout the Letterspace identity.
    </p>

  </div>
</div>

<div class="border grid_12">
</div>

<div id="newsletter" class="grid_12">
  <div class="centered">
    <h2>SIGN UP FOR NEWS</h2>
    <%= render 'subscribers/new' %>
  </div>
</div>

<div id="social" class="grid_12">
  <div class="border">
  </div>
  <div class="centered">
    <h3 class="follow">Follow us @letterspace_</h3>

    <div id="instagram" class="grid_12">

      <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/54d6607747df5372b488090339cf5aa0.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>

    </div>
  </div>
</div>
