<div class="grid_12" id="shop_index">
  <div class="centered">

<% if Rails.env.development? %>

  <% @products.each do |product| %>

    <div class="shop_item_box grid_12">

      <div class="grid_12">
        <div class="grid_6 alpha">

          <div class="product_image">
            <% if product.image.present? %>
              <%= image_tag(product.image(:medium)) %>
            <% else %>
              <p class="no_image">
                Image coming soon
              </p>
            <% end %>
          </div>

        </div>

        <div class="grid_6 omega">

          <div class="product_text">

            <h3><%= product.title + ", " + product.designer_location %></h3>
            <h3>Designed by <%= product.designer_name %></h3>

            <ul>
              <li>-</li>
              <li>Limited edition of 26</li>
              <li>Screen print, 420 x 594mm, unframed</li>
              <li>Ink: <%= product.ink_type %></li>
              <li>Paper: <%= product.paper_type %></li>
              <li>Printed by Dan Mather</li>
              <li>-</li>
            </ul>

            <div class="price">
              <h3>£<%= product.price %> <span class="small">+ P&P</span></h3>
            </div>

            <div class="quantity">
              Qty: <%= product.quantity %>
            </div>

            <% if product.quantity != 0 %>
              <div class="paypal_button">
                <%== product.paypal_button %>
              </div>
            <% else %>
              <p>
                Sold out
              </p>
            <% end %>

          </div>

        </div>
      </div>

      <div class="grid_12">

        <div class="grid_6 alpha">

          <br />

        </div>

        <div class="grid_6 omega">

          <%= link_to "SEE FULL PRODUCT INFO", product_path(product) %>

        </div>

      </div>


    </div>


  <% end %>

<% else %>

  <p>
    From April 2018, the Letterspace shop will sell all 26 posters of the Letterspace alphabet.
    Keep an eye on <a href="http://www.twitter.com/letterspace_" target="_blank">Twitter</a> and <a href="http://www.instagram.com/letterspace_" target="_blank">Instagram</a> <a href="http://www.instagram.com/letterspace_" target="_blank">@Letterspace_</a> for updates.
  </p>

<% end %>

  </div>
</div>
