<% @page = "show" %>

<div id="show_page" class="centered">

  <div id="show_image_box" class="grid_12">
    <% if @prev_product.present? %>
      <div class="prev_link">
      <%= link_to product_path(@prev_product) do %>
        <i class="fas fa-angle-left"></i>
      <% end %>
      </div>
    <% end %>

    <% if @next_product.present? %>
      <div class="next_link">
      <%= link_to product_path(@next_product) do %>
        <i class="fas fa-angle-right"></i>
      <% end %>
      </div>
    <% end %>

    <div class="show_box">
      <%= image_tag(@product.image) %>
    </div>


  </div>

  <div id="author_info_box" class="grid_12">
    <h2>ABOUT</h2>

    <div class="show_description grid_12">
      <p>
        <%= @product.description %>
      </p>
    </div>

    <h2>About the designer, <%= @product.designer_name %></h2>

    <div class="show_description grid_12">
      <p>
        <%= @product.designer_bio %>
      </p>
    </div>

    <div class="product_text grid_12">

      <ul>
        <li class="dash1">-</li>
        <li>Limited edition of 26</li>
        <li>Screen print, 420 x 594mm, unframed</li>
        <li>Ink: <%= @product.ink_type %></li>
        <li>Paper: <%= @product.paper_type %></li>
        <li>Printed by <a href="http://danmatherscreenprint.co.uk" target="_blank">Dan Mather Screenprint</a></li>
        <li class="dash1">-</li>
      </ul>

    </div>


    <div class="shop_button grid_12">
      <%= link_to "GO TO THE SHOP", products_path, class: "show_button button" %>
    </div>
  </div>

  <div id="next_letter_box">
    <ul>
      <% if @next_product.present? %>
        <li><%= link_to "NEXT LETTER", product_path(@next_product) %></li>
      <% end %>
      <li><%= link_to "SEE ALL LETTERS", products_path %></li>
    </ul>
  </div>





</div>
