
<div id="show_page" class="centered">

  <div id="show_image_box" class="grid_12">


    <div class="show_box">
      <%= image_tag(@product.image(:large)) %>
    </div>


  </div>

  <div id="author_info_box" class="grid_12">
    <h2>ABOUT</h2>

    <div class="show_description">
      <p>
        <%= @product.description %>
      </p>
    </div>

    <h2>About the designer, <%= @product.designer_name %></h2>

    <div class="show_description">
      <p>
        <%= @product.designer_bio %>
      </p>
    </div>

    <div class="button show_button">
      <%= link_to "GO TO THE SHOP", products_path %>
    </div>
  </div>

  <div id="next_letter_box">
    <ul>
      <% if @next_product.present? %>
        <li><%= link_to "NEXT LETTER", product_path(@next_product) %></li>
      <% end %>
      <li><%= link_to "SEE ALL LETTERS", products_path %></li>
    </ul>
  </div>





</div>
