<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>

  <body>

    <div id="wrapper">

      <div id="header" class="grid_12">
        <div class="logobg">
          <div class="centered">
            <div class="mainlogo">
              <h1>Letterspace</h1>
            </div>
          </div>
        </div>



      <div id="content">


                      <%= yield %>


      </div>

      <div id="footer" class="grid_12">
        <div class="centered">
          <div class="grid_6 alpha">
            <p class="hello">
              hello@letterspace.co.uk
            </p>
          </div>
          <div class="grid_6 omega">
              <ul>
                <li class="social_btn"><%= image_tag('instagram.png') %></li>
                <li class="social_btn"><%= image_tag('twitter.png') %></li>
                <li class="social_btn"><%= image_tag('facebook.png') %></li>
                <li>helloletterspace</li>
              </ul>
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
