<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Letterspace" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>

  <body>

    <div id="wrapper">

      <div id="header" class="grid_12">
        <div class="logobg">
          <div class="centered">
            <div class="mainlogo">
              <h1><%= link_to image_tag('letterspace.png'), root_path %></h1>
            </div>
          </div>
        </div>
      </div>

      <nav class="grid_12 border">
        <div class="centered">
          <ul>
            <li>ABOUT</li>
            <li><%= link_to "SHOP", products_path %></li>
            <li>CONTACT</li>
          </ul>
        </div>
      </nav>



      <div id="content">


                      <%= yield %>


      </div>

      <div id="footer" class="grid_12">

        <div id="sponsors" class="grid_12">

          <div class="centered">
            <h4>Kindly supported by</h4>

            <ul>
              <li><%= image_tag('sh_gray.png') %></li>
              <li><%= image_tag('mmu_gray.png') %></li>
            </ul>
          </div>

        </div>

        <div id="contact" class="grid_12">

          <div class="centered">

            <div class="grid_6 alpha">
              <p class="hello">
                hello@letterspace.co.uk
              </p>
            </div>

            <div class="grid_6 omega">
                <ul>
                  <li class="social_btn"><%= image_tag('instagram.png') %></li>
                  <li class="social_btn"><%= image_tag('twitter.png') %></li>
                  <!-- <li class="social_btn"><%= image_tag('facebook.png') %></li> -->
                  <li>letterspace_</li>
                </ul>
            </div>

          </div>

        </div>

      </div>

    </div>

  </body>
</html>
